USE [master]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2020-05-02 6:44:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[name] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[display] [varchar](50) NULL
) ON [PRIMARY]
GO
